<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hohh.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hohh.address %>
</p>

<%= link_to 'Edit', edit_hohh_path(@hohh) %> |
<%= link_to 'Back', hohhs_path %>
