<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>

      <h3>Listing Members</h3>
      <div class="column">
        <table class="table">

          <thead>
            <tr>
                <th><%= sort_link(@search, :name, 'Name', default_order: :asc) %></th>
                <th><%= sort_link(@search, :gender, 'Gender') %></th>
                <th><%= sort_link(@search, :birth_date, 'Birth Date') %></th>
                <th>Phone Number</th>
                <th>email</th>
                <th>Prayer</th>
                <th>Speak</th>
                <th><%= sort_link(@search, :current, 'Current') %></th>
            </tr>
          </thead>

          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td><%= member.name %></td>
                <td><%= member.gender %></td>
                <td><%= member.birth_date %></td>
                <td><%= member.phone_number %></td>
                <td><%= member.email %></td>
                <td><%= member.prayers.count %></td>
                <td><%= member.speakers.count %></td>
                <td><%= member.current %></td>
                <td><%= link_to 'Show ', member, :class => 'button-xs' %></td>
                <td><%= link_to 'Edit ', edit_member_path(member), :class => 'button-xs' %></td>
                <td><%= link_to 'Destroy', member, method: :delete, :class => 'button-xs', data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  Total Members <%= Member.count %><br><br>

<%= link_to 'New Member', new_member_path, :class => 'button-xs' %>
