<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @member.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @member.gender %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= @member.birth_date %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= @member.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @member.email %>
  </p>

  <%= link_to 'Edit', edit_member_path(@member), :class => 'button-xs' %> |
  <%= link_to 'Back', members_path, :class => 'button-xs' %>
</div>
